
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1.75rem 6rem;
}
header > div {
    display: flex;
    align-items: center;
}
header .logo {
    height: 2.25rem;
}
.hearts {
    display: flex;
    align-items: flex-start;
    font-size: .9rem;
    margin: 0 3rem;
    border: none;
    background: none;
    box-shadow: none;
}
.hearts svg {
    margin-right: .5rem;
}
header .btn {
    font-size: .9rem;
}