
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'SpaceGrotesk-Regular', sans-serif;
}
main {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.25rem;
}
h2, h3 {
    font-family: 'SpaceGrotesk-SemiBold', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
}
p {
    line-height: 1.5;
    margin-bottom: 1rem;
}
h1 {
    font-size: 3.5rem;
    line-height: 1.4;
}
h2 {
    font-size: 1.5rem;
}