@font-face {
    font-family: 'SpaceGrotesk-Regular';
    src: url('../../fonts/SpaceGrotesk-Regular.woff2') format('woff2'), url('../../fonts/SpaceGrotesk-Regular.woff') format('woff');
}
@font-face {
    font-family: 'SpaceGrotesk-SemiBold';
    src: url('../../fonts/SpaceGrotesk-SemiBold.woff2') format('woff2'), url('../../fonts/SpaceGrotesk-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'SpaceMono-Regular';
    src: url('../../fonts/SpaceMono-Regular.woff2') format('woff2'), url('../../fonts/SpaceMono-Regular.woff') format('woff');
}