
/**************************************************/
/* [ Cols and rows ] */

.row {
    display: flex;
    margin-left: -2rem;
    margin-right: -2rem;
}
.col {
    padding: 2rem;
}
.col-1 {
    padding: 2rem;
    width: 25%;
    flex: 0 0 25%;
}
.col-2 {
    padding: 2rem;
    width: 50%;
    flex: 0 0 50%;
}
.col-3 {
    padding: 2rem;
    width: 75%;
    flex: 0 0 75%;
}

.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}

/**************************************************/
/* [ Sections Layout ] */

section {
    position: relative;
    width: 100%;
    padding: 6rem 4rem 4rem 4rem;
    overflow: hidden;
    border-radius: 40px;
    border: 1px solid #E6E2E0;
}
section.dark {
    background-color: #FDFCFA;
}

section:before,
section:after,
.side-title:before,
.side-title:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url('../../img/corner.svg');
}
section:before {
    bottom: calc(2.5rem - 7.5px);
    left: calc(2.5rem - 7.5px);
}
section:after {
    bottom: calc(2.5rem - 7.5px);
    right: calc(2.5rem - 7.5px);
}
.side-title:before {
    top: calc(2.5rem - 7.5px);
    left: calc(2.5rem - 7.5px);
}
.side-title:after {
    top: calc(2.5rem - 7.5px);
    right: calc(2.5rem - 7.5px);
}

.side-title {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.side-title p {
    font-size: .8rem;
    font-family: 'Space Mono', monospace;
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    transform-origin: left center;
    transform: rotate(-90deg) translate( calc(-100% - 1rem) );
    /*transform: translateY( calc(100% + 1rem));*/
    /*transform: rotate(-90deg) translate( calc(-50% - 2rem), calc(-50% - 2rem) );*/
}

.section-title {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.section-title p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #5A5954;
}

/**************************************************/
/* [ Buttons ] */

.btn {
    display: inline-block;
    width: auto;
    padding: .6rem 1.5rem .5rem 1.5rem;;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    border-radius: 50px;
    background-color: black;
    color: white;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn-arrow:after {
    content: '>';
    margin-left: .5rem;
    font-size: .8em;
    font-family: Arial, sans-serif;
}