
/**************************************************/
/* [ Home Head ] */

.home-head {
    color: white;
    background-image: url('../../img/background.jpg');
    background-size: cover;
    background-position: 0 20%;
}
.home-head:before,
.home-head:after,
.home-head .side-title:before,
.home-head .side-title:after {
    background-image: url('../../img/corner-t.svg');
}
.home-head .title {
    display: flex;
    align-items: flex-end;
    min-height: calc(100vh - 12rem);
    padding: 2rem;
}
.home-head .title span {
    display: block;
}
.home-head h1 {
    position: relative;
    margin-bottom: 0;
}
.home-head .title span:last-child:before {
    content: '=';
    position: absolute;
    bottom: 0;
    left: -3rem;
    display: block;
}
.home-head h2 {
    font-size: 1.25rem;
    margin: 2rem 0;
}
.home-head p {
    font-weight: 100;
    line-height: 1.6;
    margin-bottom: 0;
    color: rgba(255,255,255,.8);
}
.home-head .col {
    max-width: 600px;
}
.home-head .col p:last-child {
    margin: 2rem 0;
    color: white;
    font-weight: bold;
}


/**************************************************/
/* [ People ] */

.cards {
    z-index: 100;
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
    margin: 0 -5px;
    margin-bottom: 80px;
}
.card {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(25% - 10px);
    width: calc(25% - 10px);
    margin: 0 5px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #E6E2E0;
}
.card.blue {
    background-color: #B0F0F5;
}
.card img {
    width: 100%;
}
.card .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 50px 35px 35px 35px;
}
.card h3 {
    margin-bottom: 10px;
}
.card p {
    margin-bottom: 20px;
    font-size: 12px;
    font-family: 'Space Mono', monospace;
    color: #5A5954;
}
.card .text {
    height: 150px;
}
.card .cta p {
    margin: 20px 0 30px 0;
    font-family: 'SpaceGrotesk-SemiBold', sans-serif;
    line-height: 17px;
    color: black;
}
.card button,
.card form {
    margin-top: auto;
    align-self: flex-start;
}
.card form {
    display: flex;
    align-items: center;
}
.card input {
    border: none;
    outline: none;
}
.card input[type='text'] {
    max-width: 120px;
    margin-right: 10px;
    font-family: 'Space Mono', monospace;
    background: none;
    color: black;
    border-bottom: 1px solid black;
}
.card input[type='text']::placeholder {
    color: #5A5954;
}
.card input[type='submit'] {
    height: 34px;
    padding: 7px 15px;
}


